@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>

@if (ViewBag.AdminCommande)
{
    <h3>Commandes</h3>
    <h4>@Html.ActionLink("Gérer les commandes en cours", "EnCours", "AdministrerCommande")</h4>
    <h4>@Html.ActionLink("Voir les commandes futures", "AVenir", "AdministrerCommande")</h4>
    <h4>@Html.ActionLink("Gérer le statuts des commandes", "AStatuer", "AdministrerCommande")</h4>
    <h4>@Html.ActionLink("Commandes pendant fermetures", "PendantFermetures", "AdministrerCommande")</h4>
    <h4>@Html.ActionLink("Gérer toutes les commandes", "Toutes", "AdministrerCommande")</h4>
}

@if (ViewBag.AdminArticle)
{
    <h3>Articles</h3>
    <h4>@Html.ActionLink("Ajouter un article à la carte", "Ajouter", "AdministrerArticle")</h4>
    <h4>@Html.ActionLink("Modifier un article de la carte", "Modifier", "AdministrerArticle")</h4>
}

@if (ViewBag.AdminPlanning)
{
    <h3>Planning des ouvertures/fermetures</h3>
    <h4>@Html.ActionLink("Gérer les ouvertures hebdomadaires", "OuverturesHebdomadaires", "AdministrerPlanning")</h4>
    <h4>@Html.ActionLink("Gérer les ouvertures exceptionnelles", "OuverturesExceptionnelles", "AdministrerPlanning")</h4>
    <h4>@Html.ActionLink("Gérer les fermetures exceptionnelles", "FermeturesExceptionnelles", "AdministrerPlanning")</h4>
}

@if (ViewBag.AdminUtilisateur)
{
    <h3>Clients</h3>
    <h4>@Html.ActionLink("Voir un client", "Utilisateur", "AdministerClient")</h4>
}