@using System.Globalization
@using FoodTruck.ViewModels
@using System.Configuration;
@using FoodTruck.Models
@model PanierViewModel
@{
    ViewBag.Title = "FoodTruckLyon - Panier";
    string dossierImagesArticles = ConfigurationManager.AppSettings["PathImagesArticles"];
    Utilisateur utilisateur = ViewBag.Utilisateur;
}
<script src="~/Scripts/myJs.js"></script>
<script>
    function MiseAJourPrixTotal(remise, prix) {
        document.getElementById("prixTotalApresRemise").innerHTML = "Total : " + (Number(prix) - remise).toFixed(2) + " €";
    }

    function MajMontantRemise(remise, id) { //TODO
        if (remise != 0) {
            document.getElementById("montantRemiseFidelite").innerHTML = "- " + Number(remise).toFixed(2) + " €";
        }
        else {
            document.getElementById("montantRemiseFidelite").innerHTML = "";
        }
    }

</script>

<h3>Votre panier :</h3>
<dl class="dl-horizontal"></dl>

<aside id="panierValide">
    <div class="listePanier">
        @{int i = 0;}
        @foreach (var articleDetailViewModel in Model.ArticlesDetailsViewModel)
        {
            <div>
                <a href="/Article/@articleDetailViewModel.NomPourUrl">
                    <img src="@dossierImagesArticles/@articleDetailViewModel.Article.Image" alt="@articleDetailViewModel.Article.Nom" />
                </a>
                @articleDetailViewModel.Quantite<span>x </span><a href="/Article/@articleDetailViewModel.NomPourUrl">@articleDetailViewModel.Article.Nom</a>
            </div>
            using (Html.BeginForm("Retirer", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "plus_moins" }))
            {
                <input name="id" value="@i" hidden>
                <button class="ajoutSupprPanierTexte" type="submit">retirer</button>
            }
            using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "plus_moins" }))
            {
                <input name="nom" value="@articleDetailViewModel.Article.Nom" hidden>
                <button class="ajoutSupprPanierTexte" type="submit">ajouter</button>
            }
            <p class="sousTotal">@articleDetailViewModel.PrixTotal.ToString("C2", new CultureInfo("fr-FR"))</p>
            <hr />
            i++;
        }
    </div>
    <hr />
</aside>
@if (Model.ArticlesDetailsViewModel.Count == 0)
{
    <h4>Votre panier est vide. Venez <a href="/Article">découvrir notre carte.</a></h4>
}
else
{
    if (utilisateur.Points >= 10 && Model.PrixTotal < 10)
    {
        string reste = (10 - @Model.PrixTotal).ToString("C2", new CultureInfo("fr-FR"));
        <div class=" messageInfo">Ajoutez pour @reste d'articles pour pouvoir utiliser vos points de fidélité</div>
    }

    using (Html.BeginForm("Index", "Commande", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        <aside id="panierValide">
            <div class="listePanier">
                <div id="prixTotalAvantRemise" class="sousTotal">Total : @Model.PrixTotal.ToString("C2", new CultureInfo("fr-FR"))</div>
            </div>
        </aside>

        if (utilisateur.Points >= 10 && Model.PrixTotal >= 10)
        {
            <div>
                <select id="remiseFidelite" class="ccformfield" name="remiseFidelite" size="1" onchange="MajMontantRemise(this.value, montantRemiseFidelite.id)">
                    <option selected value="0">remise fidélité</option>
                    @for (int iRemise = 10; iRemise <= (utilisateur.Points <= Model.PrixTotal ? utilisateur.Points : Model.PrixTotal); iRemise++)
                    {
                        <option value="@iRemise">remise de @iRemise €</option>
                    }
                </select>
            </div>
        }
        <aside id="panierValide"><div class="listePanier"><div id="montantRemiseFidelite" class="sousTotal"></div></div></aside>
        <div>
            <input id="remiseCommerciale" class="ccformfield" type="text" placeholder="bon d'achat ou code promo" maxlength='20' name="codePromo" value="" size="1">
            <input type="submit" name="action" value="Vérifier">
        </div>
        string remiseCommerciale = "";
        if (TempData["RemiseCommerciale"] != null)
        {
            remiseCommerciale = TempData["RemiseCommerciale"] as string;
        }
        <aside id="panierValide"><div class="listePanier"><div id="montantRemiseCommerciale" class="sousTotal">@remiseCommerciale</div></div></aside>
        <h3 id="prixTotalApresRemise" class="total">Total : @Model.PrixTotal.ToString("C2", new CultureInfo("fr-FR"))</h3>
        <div>
            <select id="choixHoraire" class="ccformfield" name="dateRetrait" size="1" required>
                <option selected disabled>créneau horaire de retrait</option>
                @{ DateTime dateAvant = DateTime.MinValue; }
                @foreach (Creneau creneau in Model.Creneaux)
                {
                    if (creneau.DateRetrait > dateAvant.AddHours(1))
                    {
                        <optgroup label="@creneau.DateRetrait.ToString("dddd dd MMMM")"></optgroup>
                    }
                    dateAvant = creneau.DateRetrait;
                    if (@creneau.CommandesPossiblesRestantes > 0)
                    {
                        <option value="@creneau.DateRetrait">@creneau.DateRetrait.ToString("HH:mm").Replace(":", "h")</option>
                    }
                    else
                    {
                        <option disabled value="@creneau.DateRetrait">@creneau.DateRetrait.ToString("HH:mm").Replace(":", "h") (complet)</option>
                    }
                }
            </select>
        </div>

        <h3 class="total">
            <input class="validerPanier" type="submit" name="action" value="Commander">
        </h3>
    }


    if (utilisateur.Id == 0)
    {
        <div class="messageInfo">Vous n'êtes pas connecté à votre compte. Vous pouvez commander mais la commande ne sera pas dans votre historique et vous ne recevrez pas de mail de confirmation.</div>
    }

}


