@using System.Globalization
@using FoodTruck.ViewModels
@model PanierViewModel

@{
    ViewBag.Title = "FoodTruck-Lyon - Panier";
}

<aside id="panierValide">
    <h3>Votre panier :</h3>
    <div class="listePanier">
        @{int i = 0;}
        @foreach (var articleDetailViewModel in Model.Articles)
        {
            <div>
                <img src="/Content/Images/@articleDetailViewModel.Article.Image" alt="@articleDetailViewModel.Article.Nom" />
                @articleDetailViewModel.Quantite<span>x </span><a href="/Article/@articleDetailViewModel.Article.Nom">@articleDetailViewModel.Article.Nom</a>
            </div>
            using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "plus_moins" }))
            {
                <input name="nom" value="@articleDetailViewModel.Article.Nom" hidden>
                <button class="ajoutSupprPanierTexte" type="submit">ajouter</button>
            }
            using (Html.BeginForm("Retirer", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "plus_moins" }))
            {
                <input name="id" value="@i" hidden>
                <button class="ajoutSupprPanierTexte" type="submit">retirer</button>
            }
            <p class="sousTotal">@articleDetailViewModel.PrixTotal.ToString("C2", new CultureInfo("fr-FR"))</p>
            <hr />
            i++;
        }
    </div>
    <hr />
</aside>

@if (Model.Articles.Count == 0)
{
    <h4>Votre panier est vide. Venez <a href="/Article">découvrir notre carte.</a></h4>
}
else
{
    <h3 class="total">Total : @Model.PrixTotal.ToString("C2", new CultureInfo("fr-FR"))</h3>
    <h3 class="total">
        @using (Html.BeginForm("Index", "Commande", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "validerPanier" }))
        {
            <button class="validerPanier" type="submit">Commander</button>
        }
    </h3>

}
