@using FoodTruck.ViewModels
@using FoodTruck.Outils
@using System.Configuration
@using System.Globalization
@{
    ViewBag.Title = "Recherche de clients";
}
@model List<Client>

@if (Model != null)
{
    <div class="adminCommandes">
        <h2>Administration</h2>
        <h3>Recherche de clients</h3>
        @using (Html.BeginForm((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"], new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input name="id" type="hidden" value="0">
            <div class="ccfield-prepend">
                <input class="ccformfield" name="recherche" type="text" placeholder="Rentrer votre recherche" maxlength='30' value="@if(ViewBag.Recherche != null) {@ViewBag.Recherche}">
            </div>
            <div class="ccfield-prepend">
                <input class="ccbtn" type="submit" value="Rechercher">
            </div>
        }
        <hr />
    </div>
    foreach (Client u in Model)
    {
        <div id="panierEnLigne">
            <div class="gestionCommandeArticle">
                <div>Client @u.Id : @u.Prenom @u.Nom</div>
                <div> Mail : @u.Email - Téléphone : @u.Telephone</div>
                <div>Cagnotte : @u.Cagnotte</div>
                <hr />
            </div>
        </div>
    }
}