@using FoodTruck.ViewModels
@using System.Configuration
@using System.Globalization
@using FoodTruck.Extensions
@{
    string dossierImagesArticles = ConfigurationManager.AppSettings["PathImagesArticles"];
    ViewBag.Title = "Commandes à marquer";
}
@model AdministrationViewModel


<h2>Administration</h2>
@if (Model != null)
{
    <h3>Commandes à marquer</h3>
    <aside id="panierValide">
        <div class="choixHoraire">
            <hr />
            @foreach (var c in Model.Commandes)
            {
                <div class="gestionCommandeArticle">
                    <h4>Commande n° : @c.Commande.Id</h4>
                    <div>pour le : @c.Commande.DateRetrait.ToString("dddd dd MMMM yyyy à HH:mm").Replace(":", "h")</div>
                    <div>Client : @c.Utilisateur.Prenom @c.Utilisateur.Nom</div>
                    <div>Retirée ? : @c.Commande.Retrait.OuiNon()</div>
                    <div>Annulée ? : @c.Commande.Annulation.OuiNon()</div>
                    <div class="total">Prix Total : @c.Commande.PrixTotal.ToString("C2", new CultureInfo("fr-FR"))</div>
                    <div class="imagesGestionCommande">
                        @foreach (var a in c.ListArticlesVM)
                        {
                            <div>
                                <img src="@dossierImagesArticles/@a.Article.Image" alt="@a.Article.Nom" />
                                <p>@a.Quantite x @a.Article.Nom</p>
                            </div>
                        }
                    </div>
                    @using (Html.BeginForm("Commandes", (string)ViewContext.RouteData.Values["controller"], new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input name="id" type="hidden" value="@c.Commande.Id">
                        <div>
                            <input name="statut" type="radio" value="retire" checked>
                            Marquer la commande Retirée
                        </div>
                        <div>
                            <input name="statut" type="radio" value="annule">
                            Marquer la commande Annulée
                        </div>
                        <div class="ccfield-prepend">
                            <input class="ccbtn" type="submit" value="Mettre à jour">
                        </div>
                    }
                    <hr />
                </div>
            }
        </div>
    </aside>
}