
@{
    ViewBag.Title = "Administration";
}

<h2>Administration</h2>


@if (ViewBag.AdminCommande)
{
    <h3>Commandes</h3>
    <h4>@Html.ActionLink("Gérer les commandes en cours", "CommandesEnCours", "Administration")</h4>
    <h4>@Html.ActionLink("Gérer le statuts des commandes", "CommandesAStatuer", "Administration")</h4>
    <h4>@Html.ActionLink("Gérer toutes les commandes", "Commandes", "Administration")</h4>
}

@if (ViewBag.AdminArticle)
{
    <h3>Articles</h3>
    <h4>@Html.ActionLink("Ajouter un article à la carte", "AjouterArticle", "Administration")</h4>
    <h4>@Html.ActionLink("Modifier un article de la carte", "ModifierArticle", "Administration")</h4>

}


@if (ViewBag.AdminUtilisateur)
{
    <h3>Clients</h3>
    <h4>@Html.ActionLink("Voir un client", "Utilisateur", "Administration")</h4>
}