@using FoodTruck.ViewModels
@{

    ViewBag.Title = "Index";
}
@model AdministrationViewModel


<h2>Administration</h2>


@foreach (var c in Model.CommandesEnCours)
{
    <p>Numéro de commande : @c.Commande.Id</p>
    <p>A préparer pour @c.Commande.DateRetrait</p>
    <p>Pour Mr/Mme @c.Utilisateur.Nom @c.Utilisateur.Prenom</p>
    <p>Prix Total : @c.Commande.PrixTotal</p>
    foreach (var a in c.ListArticles)
    {
        @*<p>@a.Quantite x @a.Article.Nom</p>*@
        <p>article : @a.Nom</p>
    }
}
