@using FoodTruck.ViewModels;
@using FoodTruck.Models;
@using System.Configuration;
@{
    string dossierImagesArticles = ConfigurationManager.AppSettings["PathImagesArticles"];
    string dossierImagesSysteme = ConfigurationManager.AppSettings["PathImagesSysteme"];
    Utilisateur utilisateur = (Utilisateur)Session["Utilisateur"];
    PanierViewModel panier = (PanierViewModel)Session["Panier"];
    bool droitAdmin;
    if (Session["AdminSuper"] != null && (bool)Session["AdminSuper"]
     || Session["AdminArticle"] != null && (bool)Session["AdminArticle"]
     || Session["AdminCommande"] != null && (bool)Session["AdminCommande"]
     || Session["AdminUtilisateur"] != null && (bool)Session["AdminUtilisateur"]
       )
    {
        droitAdmin = true;
    }
    else
    {
        droitAdmin = false;
    }



}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" crossorigin="anonymous">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="@dossierImagesSysteme/logo.png" alt="Logo Foodtruck-lyon" class="d-inline-block align-top logo-full">
                    <img src="@dossierImagesSysteme/logo-only.png" alt="Logo Foodtruck-lyon" class="d-inline-block align-top logo-only">
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Accueil", "Index", "Home")</li>
                    <li>@Html.ActionLink("A propos", "Index", "APropos")</li>
                    <li>@Html.ActionLink("Notre carte", "Index", "Article")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (droitAdmin)
                    {
                        <li>@Html.ActionLink("Administration", "Index", "Administration")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Votre compte", "Index", "Compte")</li>
                    }
                    <li>@Html.ActionLink("Panier", "Index", "Panier")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <section id="client">
            @if (utilisateur != null && utilisateur.Id != 0)
            {
                <p>Bienvenue <a href="/Compte/Profil">@utilisateur.Prenom @utilisateur.Nom</a> - <a href="/Compte/Deconnexion/">Déconnexion</a></p>
            }
            else
            {
                <p><a href="/Compte/Connexion/">Connexion</a> - <a href="/Compte/Creation/">Création de compte</a></p>
            }
        </section>

        @RenderBody()

        @if (panier != null && panier.PrixTotal != 0 && TempData["PanierLatteralDesactive"] == null)
        {
            <aside id="panier">
                <h4>Panier</h4>
                <div class="listePanier">
                    @{int i = 0;
                    }
                    @foreach (var article in panier.ArticlesDetailsViewModel)
                    {
                        double prixTotalArticle = article.Article.Prix * article.Quantite;
                        <div>
                            @article.Quantite
                            <span>x </span><a href="/Article/@article.NomPourUrl">
                                @article.Article.Nom
                            </a>
                        </div>
                        using (Html.BeginForm("Retirer", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "plus_moins" }))
                        {
                            <input name="id" value="@i" hidden>
                            <button class="ajoutSupprPanierTexte" type="submit">retirer</button>
                        }
                        using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "plus_moins" }))
                        {
                            <input name="nom" value="@article.Article.Nom" hidden>
                            <button class="ajoutSupprPanierTexte" type="submit">ajouter</button>
                        }
                        <p class="sousTotal">@prixTotalArticle.ToString("F2") &nbsp;&euro;</p>
                        <hr />
                        i++;
                    }
                </div>
                <hr />
                <p>Total : @panier.PrixTotal.ToString("F2") &nbsp;&euro;</p>
                <a class="validerPanier" href="/Panier">Valider votre panier</a>
            </aside>
        }

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - <a href="mailto:info@foodtruck-lyon.com">FoodTruck-Lyon.fr</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
