@using System.Globalization


@{
    bool affichageArticle = Model != null ? true : false;
}

@if (!affichageArticle)
{
    ViewBag.Title = "FoodTruck-Lyon - Erreur";
    <div class="messageErreur">Article non trouvé !</div>
}
else
{
    ViewBag.Title = "FoodTruck-Lyon - " + Model.Nom;
    if (!Model.DansCarte)
    {
        <div class="messageErreur">L'article choisi n'est plus disponible dans votre foodtruck</div>
        ViewBag.Title += "- indisponible";
    }
    <div class="detailArticle">
        <div>
            <img src="/Content/Images/@Model.Image" alt="@Model.Nom" />
            <div class="articleDescription">
                <h2>@Model.Nom</h2>
                <h4>@Model.Description</h4>
                <p><i>Liste des allergènes&nbsp;:</i> @Model.Allergenes</p>
                @if (Model.Grammage != 0)
                {
                    <p class="grow">
                        <i>Valeur nutritionnelle :</i> @Model.Grammage&nbsp; g
                    </p>
                }
                @if (Model.Litrage != 0)
                {
                    <p class="grow">
                        <i>Valeur nutritionnelle :</i> @Model.Litrage&nbsp; ml
                    </p>
                }
            <p class="prix_submit">
                <span class="prix">@Model.Prix.ToString("C2", new CultureInfo("fr-FR"))</span>
                @if (Model.DansCarte)
                {
                    using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
                    {
                        <input name="@Model.Nom" value="@Model.Nom" hidden>
                        <button class="ajoutPanier" type="submit">Ajouter au panier</button>
                    }
                }
            </p>
            </div>
        </div>

           

    </div>
}
