@using System.Globalization
@{
    ViewBag.Title = "FoodTruck-Lyon - Notre carte";
}

@if (ViewBag.articlesEntree.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Entrées :</h2>
}
<section class="notreCarte">
    @foreach (var article in ViewBag.articlesEntree)
    {
        <div>
            <a href="/Article/@article.Nom">
                <img src="/Content/Images/@article.Image" alt="@article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.Nom">
                    <p>@article.Nom</p><p>@article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
            {
                <input name="nom" value="@article.Nom" hidden>
                <button class="ajoutPanier" type="submit">Ajouter au panier</button>
            }
        </div>
    }
</section>
@if (ViewBag.articlesPlat.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Plats :</h2>
}
<section class="notreCarte">
    @foreach (var article in ViewBag.articlesPlat)
    {
        <div>
            <a href="/Article/@article.Nom">
                <img src="/Content/Images/@article.Image" alt="@article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.Nom">
                    <p>@article.Nom</p><p>@article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
            {
                <input name="nom" value="@article.Nom" hidden>
                <button class="ajoutPanier" type="submit">Ajouter au panier</button>
            }
        </div>
    }
</section>
@if (ViewBag.articlesDessert.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Desserts :</h2>
}
<section class="notreCarte">
    @foreach (var article in ViewBag.articlesDessert)
    {
        <div>
            <a href="/Article/@article.Nom">
                <img src="/Content/Images/@article.Image" alt="@article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.Nom">
                    <p>@article.Nom</p><p>@article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
            {
                <input name="nom" value="@article.Nom" hidden>
                <button class="ajoutPanier" type="submit">Ajouter au panier</button>
            }
        </div>
    }
</section>
@if (ViewBag.articlesBoissonFraiche.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Boissons fraiches :</h2>
}
<section class="notreCarte">
    @foreach (var article in ViewBag.articlesBoissonFraiche)
    {
        <div>
            <a href="/Article/@article.Nom">
                <img src="/Content/Images/@article.Image" alt="@article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.Nom">
                    <p>@article.Nom</p><p>@article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
            {
                <input name="nom" value="@article.Nom" hidden>
                <button class="ajoutPanier" type="submit">Ajouter au panier</button>
            }
        </div>
    }
</section>
@if (ViewBag.articlesBoissonChaude.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Boissons chaudes :</h2>
}
<section class="notreCarte">

    @foreach (var article in ViewBag.articlesBoissonChaude)
    {
        <div>
            <a href="/Article/@article.Nom">
                <img src="/Content/Images/@article.Image" alt="@article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.Nom">
                    <p>@article.Nom</p>
                    <p>@article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
            {
                <input name="nom" value="@article.Nom" hidden>
                <button class="ajoutPanier" type="submit">Ajouter au panier</button>
            }
        </div>
    }
</section>