@using System.Globalization
@using FoodTruck.ViewModels
@using System.Configuration;
@{string dossierImagesArticles = ConfigurationManager.AppSettings["PathImagesArticles"]; }
@model ArticleIndexViewModel
@{
    ViewBag.Title = "FoodTruckLyon - Notre carte";
    bool droitAdminArticle;
    if (Session["AdminSuper"] != null && (bool)Session["AdminSuper"] || Session["AdminArticle"] != null && (bool)Session["AdminArticle"])
    {
        droitAdminArticle = true;
    }
    else
    {
        droitAdminArticle = false;
    }
}

@if (Model.ArticlesEntree.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Entrées :</h2>
}
@using FoodTruck.Extensions
<section class="notreCarte">
    @foreach (var article in Model.ArticlesEntree)
    {
        <div class="indexArticle">
            <a href="/Article/@article.NomPourUrl">
                <img src="@dossierImagesArticles/@article.Article.Image" alt="@article.Article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.NomPourUrl">
                    <p>@article.Article.Nom</p><p>@article.Article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            <div id="ajoutPanier">
                @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
                {
                    <input name="nom" value="@article.Article.Nom" hidden>
                    <button class="ajoutPanier" type="submit">Ajouter au panier</button>
                }
                @if (droitAdminArticle)
                {
                    using (Html.BeginForm("Modifier", "AdminArticle", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "admin_article" }))
                    {
                        <input type="hidden" name="id" value="@article.Article.Id">
                        <button class="adminArticle" type="submit">Modifier</button>
                    }
                }
            </div>
        </div>
    }
</section>
@if (Model.ArticlesPlat.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Plats :</h2>
}
<section class="notreCarte">
    @foreach (var article in Model.ArticlesPlat)
    {
        <div class="indexArticle">
            <a href="/Article/@article.NomPourUrl">
                <img src="@dossierImagesArticles/@article.Article.Image" alt="@article.Article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.NomPourUrl">
                    <p>@article.Article.Nom</p><p>@article.Article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            <div id="ajoutPanier">
                @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
                {
                    <input name="nom" value="@article.Article.Nom" hidden>
                    <button class="ajoutPanier" type="submit">Ajouter au panier</button>
                }
                @if (droitAdminArticle)
                {
                    using (Html.BeginForm("Modifier", "AdminArticle", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "admin_article" }))
                    {
                        <input type="hidden" name="id" value="@article.Article.Id">
                        <button class="adminArticle" type="submit">Modifier</button>
                    }
                }
            </div>
        </div>
    }
</section>
@if (Model.ArticlesDessert.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Desserts :</h2>
}
<section class="notreCarte">
    @foreach (var article in Model.ArticlesDessert)
    {
        <div class="indexArticle">
            <a href="/Article/@article.NomPourUrl">
                <img src="@dossierImagesArticles/@article.Article.Image" alt="@article.Article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.NomPourUrl">
                    <p>@article.Article.Nom</p><p>@article.Article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            <div id="ajoutPanier">
                @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
                {
                    <input name="nom" value="@article.Article.Nom" hidden>
                    <button class="ajoutPanier" type="submit">Ajouter au panier</button>
                }
                @if (droitAdminArticle)
                {
                    using (Html.BeginForm("Modifier", "AdminArticle", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "admin_article" }))
                    {
                        <input type="hidden" name="id" value="@article.Article.Id">
                        <button class="adminArticle" type="submit">Modifier</button>
                    }
                }
            </div>
        </div>
    }
</section>
@if (Model.ArticlesBoissonFraiche.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Boissons fraiches :</h2>
}
<section class="notreCarte">
    @foreach (var article in Model.ArticlesBoissonFraiche)
    {
        <div class="indexArticle">
            <a href="/Article/@article.NomPourUrl">
                <img src="@dossierImagesArticles/@article.Article.Image" alt="@article.Article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.NomPourUrl">
                    <p>@article.Article.Nom</p><p>@article.Article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            <div id="ajoutPanier">
                @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
                {
                    <input name="nom" value="@article.Article.Nom" hidden>
                    <button class="ajoutPanier" type="submit">Ajouter au panier</button>
                }
                @if (droitAdminArticle)
                {
                    using (Html.BeginForm("Modifier", "AdminArticle", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "admin_article" }))
                    {
                        <input type="hidden" name="id" value="@article.Article.Id">
                        <button class="adminArticle" type="submit">Modifier</button>
                    }
                }
            </div>
        </div>
    }
</section>
@if (Model.ArticlesBoissonChaude.Count != 0)
{
    <hr />
    <h2 class="familleNotreCarte">Boissons chaudes :</h2>
}
<section class="notreCarte">

    @foreach (var article in Model.ArticlesBoissonChaude)
    {
        <div class="indexArticle">
            <a href="/Article/@article.NomPourUrl">
                <img src="@dossierImagesArticles/@article.Article.Image" alt="@article.Article.Nom" />
            </a>
            <div class="articleDescription">
                <a href="/Article/@article.NomPourUrl">
                    <p>@article.Article.Nom</p>
                    <p>@article.Article.Prix.ToString("C2", new CultureInfo("fr-FR"))</p>
                </a>
            </div>
            <div id="ajoutPanier">
                @using (Html.BeginForm("Ajouter", "Panier", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "prix_submit" }))
                {
                    <input name="nom" value="@article.Article.Nom" hidden>
                    <button class="ajoutPanier" type="submit">Ajouter au panier</button>
                }
                @if (droitAdminArticle)
                {
                    using (Html.BeginForm("Modifier", "AdminArticle", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "admin_article" }))
                    {
                        <input type="hidden" name="id" value="@article.Article.Id">
                        <button class="adminArticle" type="submit">Modifier</button>
                    }
                }
            </div>
        </div>
    }
</section>