@using FoodTruck.ViewModels
@using System.Configuration
@using System.Globalization
@using FoodTruck.Extensions
@{
    string dossierImagesArticles = ConfigurationManager.AppSettings["PathImagesArticles"];
    ViewBag.Title = "Vos commandes";
}
@model AdministrationViewModel


<h2>Votre Compte</h2>
@if (Model != null)
{
    <h3>Vos commandes</h3>
    <aside id="panierValide">
        <div @*class="choixHoraire"*@>
            <hr />
            @foreach (var c in Model.Commandes)
            {
                string classDate = "class=commandeAnnulee";
                string preDate = "";
                bool enCours = true;
                if (@c.Commande.Annulation)
                {
                    preDate = "Commande annulée. Le retrait été prévu le ";
                    classDate = "class=commandeAnnulee";
                }
                else if (c.Commande.Retrait)
                {
                    preDate = "Retirée le ";
                    classDate = "class=commandeRetiree";
                }
                else
                {
                    preDate = "A retirer le ";
                    classDate = "class=commandeARetirer";
                    enCours = false;
                }
                <div class="gestionCommandeArticle">
                    <h4>Commande n° : @c.Commande.Id</h4>
                    <div @classDate>@preDate @c.Commande.DateRetrait.ToString("dddd dd MMMM yyyy à HH:mm").Replace(":", "h")</div>
                    <div class="total">Prix Total : @c.Commande.PrixTotal.ToString("C2", new CultureInfo("fr-FR"))</div>
                    <div class="imagesGestionCommande">
                        @foreach (var a in c.ListArticlesVM)
                        {
                            <div>
                                <img src="@dossierImagesArticles/@a.Article.Image" alt="@a.Article.Nom" />
                                <p>@a.Quantite x @a.Article.Nom</p>
                            </div>
                        }
                    </div>
                    @using (Html.BeginForm("ReprendreArticlesCommande", (string)ViewContext.RouteData.Values["controller"], new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div>
                            <input name="viderPanier" type="hidden" value="Oui" />
                            <input name="viderPanier" type="checkbox" value="Non" />
                            Vider panier puis
                        </div>
                        <input name="commandeId" type="hidden" value="@c.Commande.Id">
                        <div class="ccfield-prepend">
                            <input class="ccbtn" type="submit" value="Reprendre">
                        </div>
                    }
                    <hr />
                </div>
            }
        </div>
    </aside>
}