@using FoodTruck.Models
@{
    ViewBag.Title = "FoodTruckLyon - Connexion";
    Utilisateur utilisateur = ViewBag.Utilisateur;
}
<h2>Connexion</h2>
<dl class="dl-horizontal"></dl>
@if (utilisateur.Id != 0)
{
    <ul>
        <li>@utilisateur.Nom</li>
        <li>@utilisateur.Prenom </li>
        <li>@utilisateur.Email</li>
        <li>@utilisateur.Telephone</li>
    </ul>
}
else
{
    <p>Connectez-vous à votre compte pour profiter de tous les servives de votre foodtruck.</p>
    <p>Si vous n'avez pas de compte, pour pouvez en créer un en <a href="/Compte/Creation">suivant ce lien</a>.</p>
    <dl class="dl-horizontal"></dl>
}

@if (ViewBag.MauvaisEmailMdp != null && ViewBag.MauvaisEmailMdp)
{
    <div class="messageErreur">Mauvais Email ou mot de passe. Veuillez réessayer s'il vous plait.</div>
}
<h4>Saisissez vos identifiants :</h4>
@using (Html.BeginForm("Connexion", "Compte", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ccform connexion" }))
{
    @Html.AntiForgeryToken()
    <div class="ccfield-prepend">
        <input class="ccformfield" name="email" type="email" placeholder="Email" required>
    </div>
    <div class="ccfield-prepend">
        <input class="ccformfield" name="mdp" type="password" placeholder="Mot de passe" required>
    </div>
    <div class="ccfield-prepend">
        <div class="ccformfield">
            <div>
                <input name="connexionAuto" type="checkbox" value="true" checked>
                <input name="connexionAuto" type="hidden" value="false">
                Connexion automatique
            </div>
        </div>
    </div>
    <div class="ccfield-prepend">
        <input class="ccbtn" type="submit" value="Connexion">
    </div>
}
