@model FoodTruck.Models.Utilisateur

@{
    ViewBag.Title = "FoodTruck-Lyon - Connexion";
}
<h2>Connexion</h2>
<div>
    <dl class="dl-horizontal"></dl>
</div>
@if (ViewBag.lUlilisateur != null)
{
    <ul>
        <li>@ViewBag.Utilisateur.Nom</li>
        <li>@ViewBag.Utilisateur.Prenom </li>
        <li>@ViewBag.Utilisateur.Email</li>
        <li>@ViewBag.Utilisateur.Telephone</li>
    </ul>
}

@if (ViewBag.MauvaisEmailMdp != null && ViewBag.MauvaisEmailMdp)
{
    <div class="messageErreur">Mauvais Email ou mot de passe. Veuillez réessayer s'il vous plait.</div>
}
<h4>Saisissez vos identifiants :</h4>
@using (Html.BeginForm("Connexion", "Compte", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ccform connexion" }))
{
    @Html.AntiForgeryToken()
    <div class="ccfield-prepend">
        <input class="ccformfield" name="Email" type="email" placeholder="Email" required>
    </div>
    <div class="ccfield-prepend">
        <input class="ccformfield" name="Mdp" type="password" placeholder="Mot de passe" required>
    </div>
    <div class="ccfield-prepend">
        <div class="ccformfield">
            <div>
                Connexion automatique
                <input name="connexionAuto" type="checkbox" value="true" checked>
                <input name="connexionAuto" type="hidden" value="false">
            </div>
        </div>
    </div>
    <div class="ccfield-prepend">
        <input class="ccbtn" type="submit" value="Connexion">
    </div>
}
