@using FoodTruck.Models
@using System.Globalization
@{
    ViewBag.Title = "FoodTruckLyon - Votre profil";
}
@model Client
<div class="compte">
    <h2>Votre compte</h2>
    <div>
        <dl class="dl-horizontal">
        </dl>
    </div>
    @if (Model.Id == 0)
    {
        <div class="messageErreur">Vous n'êtes pas connecté à votre compte. Merci de vous connecter pour gérer vos informations</div>
    }
    else
    {
        string email = @Model.Email.Trim();
        string nom = @Model.Nom.Trim();
        string prenom = @Model.Prenom.Trim();
        string prenomNom = prenom + " " + nom + ".";
        string telephone = @Model.Telephone.Trim();
        <div>Vous avez @Model.Cagnotte € sur votre cagnotte fidélité</div>
        <div>Depuis votre inscription du @Model.Inscription.ToString("dd MMMM yyyy"), vous avez eu @ViewBag.RemiseTotalUtilisateur.ToString("C2", new CultureInfo("fr-FR")) de remises sur vos commandes </div>

        @Html.Action("Liste", "Commande", new { id = "enCours" })

        @Html.Action("Liste", "Commande", new { id = "dernieres" })

        <h3>@Html.ActionLink("Voir toutes vos commandes", "Commandes", "Compte")</h3>
        <hr />
        <h3>Vos coordonnées</h3>
        using (Html.BeginForm((string)ViewContext.RouteData.Values["action"], (string)ViewContext.RouteData.Values["controller"], new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "ccform connexion creationCompte" }))
        {
            if (ViewBag.Email != null) { email = ViewBag.Email; }
            if (ViewBag.Nom != null) { nom = ViewBag.Nom; }
            if (ViewBag.Prenom != null) { prenom = ViewBag.Prenom; }
            if (ViewBag.Telephone != null) { telephone = ViewBag.Telephone; }

            <input name="ancienEmail" type="hidden" value="@Model.Email">
            <div class="ccfield-prepend">
                <input class="ccformfield" name="email" type="email" placeholder="Email" maxlength='80' required value="@email">
            </div>
            <div class="ccfield-prepend">
                <input class="ccformfield" name="ancienMdp" type="password" placeholder="Ancien mot de passe" maxlength='20' required>
            </div>
            <div class="ccfield-prepend">
                <input class="ccformfield" name="nom" type="text" placeholder="Nom" maxlength='30' required value="@nom">
            </div>
            <div class="ccfield-prepend">
                <input class="ccformfield" name="prenom" type="text" placeholder="Prénom" maxlength='30' required value="@prenom">
            </div>
            <div class="ccfield-prepend">
                <input class="ccformfield" name="telephone" type="tel" placeholder="Téléphone" maxlength='10' required value="@telephone">
            </div>
            <div class="ccfield-prepend">
                <input class="ccformfield" name="mdp" type="password" placeholder="Nouveau mot de passe (si souhaité)" maxlength='20'>
            </div>
            <div class="ccfield-prepend">
                <input class="ccformfield" name="mdp2" type="password" placeholder="Confirmer le mot de passe" maxlength='20'>
            </div>
            <div class="ccfield-prepend">
                <input class="ccbtn" type="submit" value="Modifier">
            </div>
        }
    }
</div>